openapi: 3.1.0
info:
  title: Block Genomics Badge & Verification API
  description: |
    API for generating verification badges and checking the verification status
    of Block Genomics agents. Agents are entities (human or AI) that have
    cryptographically proven ownership of a Bitcoin block via BIP-322 signatures,
    and received a unique cryptographic genome.

    ## Trust Tiers
    | Tier | Name | Description |
    |------|------|-------------|
    | 1 | Block Owner | Direct BIP-322 verified owner of a Bitcoin block |
    | 2 | TX Anchor | Anchored to a specific transaction within a verified block |
    | 3 | Delegated | Delegated verification from a Tier 1 block owner |

    ## Badge Styles
    - `minimal` — Small inline shield (320×28), like GitHub badges
    - `standard` — Medium card (360×80) with genome preview + trust score
    - `detailed` — Full card (420×220) with DNA visualization and trust breakdown
    - `icon-only` — Tiny verified checkmark (24×24)

    ## Themes
    - `dark` — Dark background (#0a0a0f), light text
    - `light` — White background, dark text
    - `transparent` — No background, frosted glass effect
  version: 1.0.0
  contact:
    name: Block Genomics
    url: https://blockgenomics.io
    email: api@blockgenomics.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://verify.blockgenomics.io/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

tags:
  - name: Badge
    description: Badge generation and retrieval
  - name: Verification
    description: Agent verification status and lookup
  - name: Embed
    description: Embeddable HTML snippets

paths:
  /badge/{genome_id}:
    get:
      operationId: getBadge
      tags: [Badge]
      summary: Get verification badge
      description: |
        Returns a verification badge for the specified agent/genome.
        Default format is SVG. Use `format=png` for rasterized output.
      parameters:
        - $ref: '#/components/parameters/GenomeId'
        - name: style
          in: query
          description: Badge visual style
          schema:
            $ref: '#/components/schemas/BadgeStyle'
        - name: theme
          in: query
          description: Color theme
          schema:
            $ref: '#/components/schemas/BadgeTheme'
        - name: format
          in: query
          description: Output format
          schema:
            type: string
            enum: [svg, png]
            default: svg
        - name: animate
          in: query
          description: Enable SVG animations
          schema:
            type: boolean
            default: true
        - name: width
          in: query
          description: Override badge width (PNG only)
          schema:
            type: integer
            minimum: 24
            maximum: 1200
        - name: height
          in: query
          description: Override badge height (PNG only)
          schema:
            type: integer
            minimum: 24
            maximum: 800
      responses:
        '200':
          description: Badge image
          content:
            image/svg+xml:
              schema:
                type: string
                format: binary
              examples:
                minimal:
                  summary: Minimal badge SVG
                  value: '<svg xmlns="http://www.w3.org/2000/svg" width="320" height="28" ...>'
            image/png:
              schema:
                type: string
                format: binary
          headers:
            Cache-Control:
              schema:
                type: string
              description: Badge caching policy
              example: public, max-age=300, stale-while-revalidate=600
            X-BG-Trust-Score:
              schema:
                type: integer
              description: Agent's trust score (0–100)
              example: 85
            X-BG-Tier:
              schema:
                type: integer
              description: Agent's verification tier (1–3)
              example: 1
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /badge/{genome_id}/embed:
    get:
      operationId: getBadgeEmbed
      tags: [Embed]
      summary: Get embeddable HTML snippet
      description: |
        Returns an HTML snippet that can be copy-pasted into any website
        to display the verification badge. Includes the badge image wrapped
        in a verification link, plus a noscript fallback.
      parameters:
        - $ref: '#/components/parameters/GenomeId'
        - name: style
          in: query
          schema:
            $ref: '#/components/schemas/BadgeStyle'
        - name: theme
          in: query
          schema:
            $ref: '#/components/schemas/BadgeTheme'
      responses:
        '200':
          description: HTML embed snippet
          content:
            text/html:
              schema:
                type: string
              example: |
                <!-- Block Genomics Verification Badge -->
                <a href="https://verify.blockgenomics.io/agent/bg_a3f7b2c1d4e5f6a7"
                   target="_blank" rel="noopener"
                   title="Verified by Block Genomics | Trust: 85/100">
                  <img src="https://verify.blockgenomics.io/api/v1/badge/bg_a3f7b2c1d4e5f6a7?style=standard"
                       alt="✓ Verified by Block Genomics" width="360" height="80" />
                </a>
            application/json:
              schema:
                type: object
                properties:
                  html:
                    type: string
                    description: HTML embed code
                  markdown:
                    type: string
                    description: Markdown badge code
                  bbcode:
                    type: string
                    description: BBCode badge (for forums)
                  script:
                    type: string
                    description: JavaScript embed tag
                required: [html, markdown]
        '404':
          $ref: '#/components/responses/NotFound'

  /verify/{genome_id}:
    get:
      operationId: verifyAgent
      tags: [Verification]
      summary: Get agent verification status
      description: |
        Returns the full verification status and agent data for a given
        genome/agent ID. Used by third parties to verify an agent's
        authenticity programmatically.
      parameters:
        - $ref: '#/components/parameters/GenomeId'
      responses:
        '200':
          description: Agent verification data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentVerification'
              example:
                verified: true
                agent:
                  id: bg_a3f7b2c1d4e5f6a7
                  name: SatoshiBot
                  blockHeight: 500000
                  genome: a3f7b2c1d4e5f6a789012345abcdef0123456789abcdef0123456789abcdef01
                  tier: 1
                  trustScore: 85
                  verified: true
                  registeredAt: '2026-02-01T12:00:00Z'
                trustComponents:
                  total: 85
                  age:
                    score: 22
                    max: 25
                    years: '8.2'
                  richness:
                    score: 20
                    max: 25
                    txCount: 2847
                    size: 998231
                  security:
                    score: 18
                    max: 20
                    difficulty: 79350289832272
                  ownership:
                    score: 20
                    max: 20
                  history:
                    score: 5
                    max: 10
                verification:
                  method: BIP-322
                  walletProvider: unisat
                  verifiedAt: '2026-02-01T12:00:00Z'
                  expiresAt: '2027-02-01T12:00:00Z'
                  blockHash: 00000000000000000024fb37364cbf81fd49cc2d51c09c75c35433c3a1945d04
                links:
                  badge: https://verify.blockgenomics.io/api/v1/badge/bg_a3f7b2c1d4e5f6a7
                  profile: https://verify.blockgenomics.io/agent/bg_a3f7b2c1d4e5f6a7
                  block: https://mempool.space/block/500000
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /verify:
    get:
      operationId: searchAgents
      tags: [Verification]
      summary: Search verified agents
      description: Search for verified agents by name, block height, or genome hash.
      parameters:
        - name: q
          in: query
          description: Search query (name, block height, or genome prefix)
          required: true
          schema:
            type: string
            minLength: 2
            maxLength: 100
        - name: tier
          in: query
          description: Filter by verification tier
          schema:
            type: integer
            enum: [1, 2, 3]
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentSummary'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                required: [results, total, limit, offset]
        '400':
          description: Invalid query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'

components:
  parameters:
    GenomeId:
      name: genome_id
      in: path
      required: true
      description: |
        Agent or genome identifier. Accepts:
        - Agent ID (e.g., `bg_a3f7b2c1d4e5f6a7`)
        - Full genome hash (64-char hex)
        - Genome prefix (minimum 8 chars)
      schema:
        type: string
        minLength: 8
        maxLength: 64
        pattern: '^(bg_)?[a-f0-9]{8,64}$'
      examples:
        agentId:
          summary: Agent ID
          value: bg_a3f7b2c1d4e5f6a7
        genomeHash:
          summary: Full genome hash
          value: a3f7b2c1d4e5f6a789012345abcdef0123456789abcdef0123456789abcdef01

  schemas:
    BadgeStyle:
      type: string
      enum: [minimal, standard, detailed, icon-only]
      default: standard
      description: Visual style of the badge

    BadgeTheme:
      type: string
      enum: [dark, light, transparent]
      default: dark
      description: Color theme

    AgentSummary:
      type: object
      properties:
        id:
          type: string
          description: Agent ID
          example: bg_a3f7b2c1d4e5f6a7
        name:
          type: string
          description: Agent display name
          example: SatoshiBot
        blockHeight:
          type: integer
          description: Bitcoin block height
          example: 500000
        genome:
          type: string
          description: Genome hash (64 hex chars)
          example: a3f7b2c1d4e5f6a789012345abcdef01...
        tier:
          type: integer
          enum: [1, 2, 3]
          description: Verification tier
        trustScore:
          type: integer
          minimum: 0
          maximum: 100
          description: Trust score
        verified:
          type: boolean
        registeredAt:
          type: string
          format: date-time
      required: [id, name, blockHeight, genome, tier, trustScore, verified]

    AgentVerification:
      type: object
      properties:
        verified:
          type: boolean
          description: Whether the agent is currently verified
        agent:
          $ref: '#/components/schemas/AgentSummary'
        trustComponents:
          type: object
          description: Breakdown of the trust score
          properties:
            total:
              type: integer
            age:
              type: object
              properties:
                score: { type: integer }
                max: { type: integer }
                years: { type: string }
            richness:
              type: object
              properties:
                score: { type: integer }
                max: { type: integer }
                txCount: { type: integer }
                size: { type: integer }
            security:
              type: object
              properties:
                score: { type: integer }
                max: { type: integer }
                difficulty: { type: number }
            ownership:
              type: object
              properties:
                score: { type: integer }
                max: { type: integer }
            history:
              type: object
              properties:
                score: { type: integer }
                max: { type: integer }
        verification:
          type: object
          description: Verification details
          properties:
            method:
              type: string
              enum: [BIP-322]
            walletProvider:
              type: string
              enum: [unisat, xverse, leather]
            verifiedAt:
              type: string
              format: date-time
            expiresAt:
              type: string
              format: date-time
            blockHash:
              type: string
              description: Bitcoin block hash
        links:
          type: object
          description: Related URLs
          properties:
            badge:
              type: string
              format: uri
            profile:
              type: string
              format: uri
            block:
              type: string
              format: uri
      required: [verified, agent]

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        status:
          type: integer
          description: HTTP status code
      required: [error, message, status]

  responses:
    NotFound:
      description: Agent or genome not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: No agent found with the specified genome ID
            status: 404

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Requests allowed per window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in current window
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: rate_limited
            message: Rate limit exceeded. Try again in 30 seconds.
            status: 429

  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: X-BG-API-Key
      description: |
        API key for authenticated access. Required for higher rate limits
        and premium features. Obtain at https://blockgenomics.io/developers.
        
        **Anonymous access:** 100 requests/hour  
        **Authenticated:** 10,000 requests/hour

security: []  # Badge/verify endpoints are public by default
